/* mobile */
.mobileAndCode{
    width: 100%;
}
.quickLogin{
    height: 48px;
    font-size: 32px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 48px;
    text-align: center;
    margin: 70px auto 24px;
}
.loginHeader{
    width: 95%;
    margin: 16px;
    display: flex;
    justify-content:space-between;
}
.leftLogo{
    /* width: 125px; */
    height:40px;
    margin-top: 2px;
}
.rightClose{
    width: 40px;
    height: 40px;
}
.mobileInput,.mobileInputPassword{
    background: rgba(48, 50, 60, 1) !important;
    border: none;
    width: 88%;
    margin: 0 auto 10px;
    height: 52px;
    line-height: 52px;
    border-radius: 8px;
    color: #fff;
}
.mobileInputPasswordBox{
  background: rgba(48, 50, 60, 1) !important;
  border: none;
}
.ant-input-password .ant-input{
  background: rgba(48, 50, 60, 1) !important;
  border: none;
}
.ant-input-number-input,.mobileInputPassword .ant-input{
    height: 52px !important;
    line-height: 52px;
    color: #fff !important;
}

.mobileInput .ant-input-number-input::placeholder, .mobileInputPassword .ant-input::placeholder{
    color: #FFFFFF;
}
.mobileInputPassword .anticon{
  color: white !important;
}
.sendCode{
    width: 64px;
    height: 64px;
    margin: 24px auto;
    cursor: pointer;
}


/* code */
.inputBox {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .field-list {
    padding: 0 31px;
    display: flex;
    justify-content: space-between;
  }
  .field-item {
    box-sizing: border-box;
    width: 44px;
    height: 52px;
    line-height: 52px;
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    background: #30323C;
  }

  .field-item-focus::before {
    content: "";
    display: block;
    /* width: 4px;
    height: 65px; */
    margin:32px auto;
    background: #428ffc;
    animation: blink 1s steps(1) infinite;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .field-input {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    /* height: 130px; */
    padding: 0;
    border: none;
    outline: none;
    opacity: 0;
    background: transparent;
  }
  .example {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 60% 50px;
  }
