.chatBigBox{
    width: 100%;
    overflow: hidden;
}
.footerBox{
    width: 100%;
    border-top: 1px solid #5D5D67;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 12px 0;
    background: #30323C;
}
.footerTokenBox{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
/* fengexian */
/* no token */
.noTokenBtn{
    width: 100%;
    line-height: 48px;
    background: #E84142;
    border-radius: 8px;
}
/* token */
.tokenInputBox{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.tokenInput{
    width: 100%;
    border-radius: 8px;
}
.tokenIcon{
    position: absolute;
    right: 2px;
    top: 2px;
    width: 28px;
    height: 28px;
    z-index: 1;
    display: inline-block;
}
/* fengexian */
.footerBottomBox .footerTokenContent{
    font-size: 14px;
    margin-top: 0;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ECECF1;
    line-height: 20px;
}


.noTokenBtn a{
    color: white;
    text-decoration: none;
}

.chatBox{
    padding: 0 0 20px;
    /* padding: 20px 0; */
    width: 100%;
    height: 80vh;
    overflow: scroll;
}
.questionBox{
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    padding: 0 2%;
}
.questionBox img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.questionBox .question{
    width: max-content;
    text-align: left;
    padding: 10px 0;
    line-height: 20px;
    overflow: hidden;
    white-space: pre-wrap;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    font-size: 18px;
}
.answerBox{
    background:#30323C;
    padding: 20px 2%;
    display: flex;
    justify-content:start;
}
.answerBox .answerAvator{
    width: 40px;
    height: 40px;
    /* padding: 8px;
    background:#E84142;
    border-radius: 3px; */
    margin-right: 10px;
}
.answer{
    width: 100%;
    /* padding: 10px 0; */
    line-height: 30px;
    font-size: 18px;
    text-align: left;
}
.answerZanBox{
    display: flex;
    justify-content: flex-start;
}
.answerZanBox img{
    width: 18px;
    height: auto;
    margin-right: 20px;
}
.example {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 60% 50px;
  }
.footerBottomBox {
    margin-top: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footerLeftBox{
    display: flex;
}
.footerQuestion{
    height: 20px;
}
.footerLeftBox div span{
    color: #EAB763;
}
.footerLeftBox div{
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-left: 5px;
}
.footerLeftBox div{
    color: red;
}
.chatBox ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}
.chatBox ul li {
    margin-right: 2px;
}
.headerLeft{
    cursor: pointer;
}

.drawHeaderBox .ant-menu{
    max-height: 400px;
    overflow: scroll;
  }
  .footerTokenBox{
    position: relative;
  }
  .inputLoading {
    text-align: center;
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
    left: 0;
    z-index: 999;
    padding: 15px 50px;
  }