.bodyContainerx {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index: 10000;
    color: #fff;
    background-color: #fff;
}

.menu-container {
    display: flex;
}


.table-container {
    flex: 1;
}